.bottomnav {
    overflow: hidden;
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    background-color: lightgrey;
  }


.topbar {
   float:right;

}

.Logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.buttons {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: fixed;
    left: 525px
}

.topnav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: fixed;
    right: 200px
}

.language {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: absolute;
    left: 525;
    top: 35px
}

.center {
    margin-top: 100px
}